/* ? DAI 768PX IN GIU' */

@media screen and (max-width: 768px) {

    /* Centrare i container */
    .container {
        width: 100%;
    }
}

/* ? DAI 576PX IN GIU' */

@media screen and (max-width: 576px) {

    /* Mettere in colonna tutti i contenuti */
    .row {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    /* Ingrandire le colonne nella sezione lessons */
    .lessons .col {
        width: 60%;
    }


    /* Ingrandire immagini e centrare testo nella sezione steps */
    .steps .col {
        width: 100%
    }

    .steps p {
        width: 60%;
        margin: 0 auto;
    }

    /* Ingrandire immagine e centrare titolo nella sezione why us */


    .why-us .col-left {
        width: 60%;
        padding: 0;
        margin-top: 40px;
    }

    .why-us h2 {
        margin: 0 auto;
        width: 60%;
    }

    /* Allungare paragrafi e ingrandire titoli h3 nella sezione why us */

    .why-us .col-right {
        width: 70%
    }

    .why-us h3 {
        font-size: 1.8rem;
    }
}