/* ? DAI 768PX IN GIU' */

@media screen and (max-width: 768px) {

    /* Centrare i container */
    .container {
        width: 100%;
    }
}

/* ? DAI 576PX IN GIU' */

@media screen and (max-width: 576px) {

    /* Mettere in colonna tutti i contenuti */
    .row {
        flex-direction: column;
        align-items: center;
    }


}