/* ? DAI 768PX IN GIU' */

@media screen and (max-width: 768px) {

    /* Centrare i container */
    .container {
        width: 100%;
    }
}

/* ? DAI 576PX IN GIU' */

@media screen and (max-width: 576px) {

    /* Mettere in colonna tutti i contenuti */
    .row {
        flex-direction: column;
        align-items: center;
    }

    /* Ingrandire le immagini */
    .lessons .col img {
        scale: 1.5;
        margin: 50px 0;
    }

    .steps .col img {
        scale: 2;
        margin: 50px 0;
    }

    .col-left img {
        scale: 1.5;
        margin: 50px 0 100px 0;
    }
}